# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .dockerignore                                      :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: rmarquar <rmarquar@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/05/14 13:32:08 by rmarquar          #+#    #+#              #
#    Updated: 2024/05/14 13:32:09 by rmarquar         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

